---
---

$color-primary: #9b2221;
$color-background: #fffff8;
$color-text: #202020;

body {
    background-color: $color-background;
    color: $color-text;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    padding-top: 50px;
}

a, a:hover {
    color: $color-primary;
}

.post-list ul {
    padding-left: 0px;
}

.post-list li {
    list-style-type: none;
}

.navbar {
    background-color: $color-background;
    border: 0 0 100px 0 solid;
    border-color: $color-text;
}
