---
---

$color-primary: #9b2121;
$color-background: #ffffff;
$color-text: #202020;
$color-text-light: #505050;
$color-primary-dark: #4A0000;

body {
    background-color: $color-background;
    color: $color-text;
    /*padding-top: 70px; /* for navbar-fixed-top */
}

a, a:hover, a:focus, a:active {
    color: $color-primary;
}

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

h3:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

.navbar {
    background-color: $color-background;
    border-bottom: 2px solid;
    border-color: $color-primary;
}

.navbar-default .navbar-brand {
    color: $color-text;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

#home-image-thumbnail {
    float: right;
    padding: 0 0 5px 10px;
}

#post-list {
    padding-left: 0px;
}

#post-list-item {
    list-style-type: none;
}
