<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
  <div class="container">

      <div class="navbar navbar-default">
          <div class="container-fluid navbar-header">
              <a class="navbar-brand" href="/">{{ site.title }}</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/resume/">Resume</a></li>
              </ul>
          </div>
      </div>

      <div>
          {{ content }}
      </div>
  </div>

  <!-- Javascript -->
  {% include javascript.html %}
  </body>
</html>
