---
layout: default
---

<div class="post">
    <h1>{{ page.title }}<small></small></h1>
    <p>{{ page.date | date: "%B %d, %Y" }}</p>
    <hr>
    <div>
        {{ content }}
    </div>
</div>

{% include disqus_comments.html %}
